<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fertilizers Recommendation System for Plant Disease Prediction</title>
  <link rel="icon" type="image/x-icon" href="/static/assets/icons8_potted_plant.ico">
  <link rel="stylesheet" href="/static/css/style1.css">
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/all.min.css">
</head>

<body class="body">
  <div class="bg-text">
  <div class="container home">
    <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
      <div class="container-fluid">
        <a class="brand navbbbbbar-brand text-dark fw-bold" href="#">IBM</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
          aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse navbar-nav-scroll justify-content-end" id="navbarScroll">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/prediction">Predict</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="container">
        <div class="row justify-content-between align-items-center pt-5 g-3">
          <div class="col-md-6 g-2" style="width:60%;">
            <h1 style="color: black ;">Fertilizers Recommendation System for Plant Disease Prediction</h1>
            <p class="paras">Agriculture is the most important sector in today's life. Most plants are affected by a wide variety of bacterial and fungal diseases. Diseases on plants placed a major constraint on the production and a major threat to food security. Hence, early and accurate identification of plant diseases is essential to ensure high quantity and best quality. In recent years, the number of diseases on plants and the degree of harm caused has increased due to the variation in pathogen varieties, changes in cultivation methods, and inadequate plant protection techniques.</p>
          </div> 
        <div class="col-md-4">
          <img src="/static/assets/Dp.jpg" alt="plant" class="pos">
        </div>
      </div>
    </div>
  </div>
  </div>
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/js/jquery-3.6.1.js"></script>
</body>
<footer>
  <h3 style="color: rgb(0, 0, 0) ;">Developed by</h3>
  <a href="https://github.com/SuryaThangaprakasam" class="qwert">Surya Thangaprakasam</a>
  <a href="https://github.com/Naveenkumar612" class="qwert">Naveen Kumar</a>
  <a href="https://github.com/Ragul-Sivalingam" class="qwert">Ragul</a>
  <a href="https://github.com/Parthiban7798" class="qwert">Parthiban</a>
</footer>
</html>
